<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>mtlynch.io subscription</title>
    <link href="/vendor/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1 class="my-3">Update your subscription</h1>
      {{#userId}}
      <p>Below, you can change your subscription preferences for mtlynch.io.</p>

      <p>I want to receive:</p>
      <form action="/update" method="post">
        <input type="hidden" name="userId" value="{{ userId }}" />
        <div class="radio-btns my-3">
          <div class="container">
            <input
              type="radio"
              id="all"
              name="topic"
              value="all"
              autocomplete="off"
            /><label for="all">
              All updates (blog posts, retrospectives, book reports)
            </label>
          </div>
          <div class="container">
            <input
              type="radio"
              id="blog"
              name="topic"
              value="blog"
              autocomplete="off"
            /><label for="blog">
              Only blog posts
            </label>
          </div>
          <div class="container">
            <input type="radio" id="retrospectives" name="topic"
            value="retrospectives" autocomplete="off" / ><label
              for="retrospectives"
            >
              Only monthly retrospectives
            </label>
          </div>
          <div class="container">
            <input type="radio" id="book-reports" name="topic"
            value="book-reports" autocomplete="off" / ><label
              for="book-reports"
            >
              Only book reports
            </label>
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Update" />
      </form>
      <form action="/unsubscribe" method="post">
        <input type="hidden" name="userId" value="{{ userId }}" />
        <input
          class="btn btn-danger mt-3"
          type="submit"
          value="Unsubscribe from everything"
        />
      </form>
      {{/userId}}
      {{^userId}}
      <div class="alert alert-warning" role="alert">
        <p>Uh oh. We couldn't find your user ID.</p>

        <p>
          Try clicking the link in a recent email from mtlynch.io or email
          <a href="mailto:michael@mtlynch.io">michael@mtlynch.io</a>.
        </p>
      </div>
      {{/userId}}
    </div>

    <script src="/vendor/js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>
