<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>mtlynch.io subscription</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1 class="my-3">Update your subscription</h1>
      {{#userId}}
      <p>Below, you can change your subscription preferences for mtlynch.io.</p>
      <p>Your userId is {{ userId }}</p>
      <form action="/update">
        <input type="hidden" name="user-id" value="{{ userId }}" />
        <input type="text" name="topics" />
        <input class="btn btn-primary" type="submit" value="Update" />
      </form>
      {{/userId}}
      {{^userId}}
      <div class="alert alert-warning" role="alert">
        <p>Uh oh. We couldn't find your user ID.</p>

        <p>
          Try clicking the link in a recent email from mtlynch.io or email
          <a href="mailto:michael@mtlynch.io">michael@mtlynch.io</a>.
        </p>
      </div>
      {{/userId}}
    </div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>
